{{ define "main" }}
    {{ "<!-- layouts/portfolio/single.html -->" | safeHTML }}
    <section class="py-4">
        <div class="container-xxl">
            {{ partial "single-header-1" . }}
            <div class=" p-0 container-fluid bg-dark-subtle d-flex justify-content-center">
                <article class="markdown">
                    {{ .Content }}
                    {{ if .Params.showGhReadme }}
                        {{ partial "ghreadme" . }}
                    {{ end }}
                </article>
            </div>
        </div>
    </section>
    <section class="py-4">
        {{ partial "read-next" . }}
    </section>
{{ end }}
