{{ define "main" }}
    {{ "<!-- layouts/blog/single.html -->" | safeHTML }}
    <section class="py-4">
        <div class="container-xxl">
            {{ partial "single-header-1" . }}
            {{ partial "single-content-1" . }}
            <div class="container-xxl pb-5 d-flex justify-content-center bg-dark-subtle">
                <a href="mailto:steven@ssweb.services?subject=Reply%20to%20blog%20post%3A%20{{ .Title }}&body=%0D%0A%0D%0AThis%20email%20is%20in%20regard%20to%20this%20blog%20post%3A%20{{ .Permalink }}" class="btn btn-primary">Reply to this post via email</a>
            </div>
        </div>
    </section>
    <section>
    </section>
    <section class="py-4">
        {{ partial "read-next" . }}
    </section>
{{ end }}
