{{ define "main" }}
<div class="section-1">
    <div class="section-1-cont">
        <div class="col-md-6 d-flex flex-column p-3 pt-md-5">
            <h1>Upload Files</h1>
            <p class="fs-md-4 pt-4">Use this page to upload files to SS Web Service's file server. Please note that this is a one-way operation and cannot be undone by the user.</p>
        </div>
        <div class="col-md-6 p-3">
            <iframe 
                src="https://cloud.yooper.cc/s/ay9MAx6KmjF9Ycm" 
                frameborder="0"
                class="upload-iframe mt-3"
            >
            </iframe>
        </div>
    </div>
</div>
{{ end }}
