<a href="{{ .RelPermalink }}">
    {{ with .Resources.GetMatch "cover*" }}
        {{ $img := . }}
        {{ $img := $img.Fit "800x800" }}
        <img class="card-img-top" src="{{ $img.RelPermalink }}" alt="Cover Image">
    {{ end }}
</a>
<div class="card-body">
    <a class="text-reset text-decoration-none" href="{{ .RelPermalink }}">
        <h3 class="card-title">{{ .Title }}</h3>
    </a>
    <div class="card-text mb-2">
        {{ $summary := .Content }}
        {{ if .Params.showGhReadme }}
            {{ $summary = print $summary (partial "ghreadme" .) }}
        {{ end }}
        {{ $summary | markdownify | truncate 200 }}
    </div>
    <a class="align-self-center text-center d-block" href="{{ .RelPermalink }}">view more</a>
</div>
