<footer class="bg-dark-subtle py-3">
    <div class="container-xxl">
        <div class="row flex-row-reverse p-3 text-body-secondary gx-5">
            <div class="col-md-6 d-flex flex-column">
                <h4 class="text-body">Contact</h4>
                <span>Call or text: 
                    <a href="tel:9062910614">(906) 291-0614</a></span>
                <span class="mt-2">Email: 
                    <a href="mailto:steven@ssweb.services">steven@ssweb.services</a>
                </span>
                <h4 class="text-body mt-4">Location</h4>
                <span>Serving Bowing Green, KY and the surrounding area.</span>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center align-items-md-start">
                {{ partial "created-by" . }}
            </div>
        </div>
    </div>
</footer>
