<head>
    <title>{{ if not .IsHome }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Title }} : {{ .Summary }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/js/main.js"></script>
    {{ $sass := resources.Get "scss/styles.scss" }}
    {{ $toCssOpt := (dict "includePaths" "node_modules" "targetPath" "/assets/css/styles.css") }}
    {{ $postCssOpt := (dict "use" "autoprefixer") }}
    {{ $style := $sass | toCSS $toCssOpt | postCSS $postCssOpt }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
</head>
