<head>
    <title>{{ if not .IsHome }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $sass := resources.Get "scss/styles.scss" }}
    {{ $toCssOpt := (dict "includePaths" "node_modules" "targetPath" "/assets/css/styles.css") }}
    {{ $postCssOpt := (dict "use" "autoprefixer") }}
    {{ $style := $sass | toCSS $toCssOpt | postCSS $postCssOpt }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
    <script type="module" src="/js/main.js"></script>
</head>
