<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4TB87EBMJQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4TB87EBMJQ');
    </script>
    <title>{{ if not .IsHome }}{{ .Page.Title }} - {{ end }}{{ .Site.Title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Title }}: {{ .Title }}{{ with .Summary }} - {{ . }}{{ end }}">
    {{ $ogImg := resources.GetMatch "images/og-img.jpg" }}
    <meta property="og:image" content="{{ $ogImg.Permalink }}">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script defer src="/js/main.js"></script>
    {{ $sass := resources.Get "scss/styles.scss" }}
    {{ $toCssOpt := (dict "includePaths" "node_modules" "targetPath" "/assets/css/styles.css") }}
    {{ $postCssOpt := (dict "use" "autoprefixer") }}
    {{ $style := $sass | toCSS $toCssOpt | postCSS $postCssOpt }}
    <link href="{{ $style.RelPermalink }}" rel="stylesheet">
</head>
