{{ $webPage := resources.GetRemote .Site.Params.testLink }}
<br>
{{ $reviewRegEx := `\\"([^\\]{1,30}?)\\",\\"https:\/\/lh3\.googleusercontent\.com.{0,150}?ago\\",null,\\"(.+?)\\",([\d])` }}
{{ $reviews := findRESubmatch $reviewRegEx $webPage.Content }}
{{ range $reviews }}
    {{ $stars := int (index . 3) }}
    {{ $author := index . 1 }}
    {{ $content := replace (index . 2) "\\\\n" "\n" }} 
    <h2 class="review-name">{{ $author }}</h2>
    <!-- <span class="">Stars: {{$stars}}</span> -->
    <div class="review-stars">
        {{ range $count := (seq 5) }}
            <i class="bi bi-star-fill{{ if ( le . $stars ) }} filled{{ end }}"></i>
        {{ end }}
    </div>
    <p class="review-body">{{ $content }}</p>
{{ end }}

<!-- <p class="mw-100">{{ $webPage.Content }}</p> -->
