<div class="px-0 container-fluid d-lg-flex">
    <div class="px-3 pt-3 bg-black col-lg-4 d-flex flex-column justify-content-center">
        <h1 class="mx-3">{{.Title}}</h1>
        <ul class="list-unstyled mx-4">
            {{ with .Params.github }}
                <li>
                    View this project on <a target="_blank" href="{{ . }}">Github</a>
                </li>
            {{ end }}
            {{ with .Params.liveDemo }}
                <li>
                    View this project live at: <a target="_blank" href="{{ . }}">{{ . }}</a>
                </li>
            {{ end }}
            {{ if eq .Section "blog" }}
                <li>
                    Published on {{ .Date | time.Format ":date_long" }}
                </li>
            {{ end }}
        </ul>
    </div>
    <div class="col-lg-8">
        {{ with .Resources.GetMatch "cover*" }}
            <img 
                class="img-fluid" 
                src="{{ .RelPermalink }}" 
                alt="Image of software project"
            >
        {{ end }}
    </div>
</div>
