{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section class="section-1" id="home-hero">
        <div class="section-1-cont">
            <div class="d-flex flex-column justify-content-center col-md-7">
                <h1 class="text-md-end text-center display-4">How can <span class="text-emphasis-1">your business</span> stand out online?</h1>
                <img class="my-3 mb-md-0" src="/images/cn-mockup.webp" alt="A phone, tablet, and laptop displaying a website">
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center align-items-md-start">
                <p class="lead m-4 fs-lg-4 mt-0">Everyone knows that your online presence is extremely important for your business. But if you're not doing something unique to stand out, you will be lost in the noise. I work with your business to build a custom solution that makes you <span class="text-emphasis-1">stand out</span>. That means something different for every new client, so let's connect and discuss what we can build!</p>
                <a href="/" class="btn btn-primary my-2 ms-md-4 mb-4 mb-md-0">Request your free consultation</a>
            </div>
        </div>
    </section>
    <section class="section-1">
        <div class="section-1-cont">
            <div class="d-flex flex-column justify-content-center col-md-8 p-3">
                <h2 class="">Who am I?</h2>
                <p class="fs-md-4 text-body-secondary">My name is Steven Schaefer. I am a full-stack web developer. I like to bring a creative spin to every project I work on. I have a passion for technology and try to make the world a better place with it.</p>
            </div>
            <div class="p-3 d-flex justify-content-center">
                {{ $profileImg := resources.GetMatch "images/linkedin-01.webp" }}
                {{ $profileImg := $profileImg.Resize "400x400" }}
                <img class="rounded-circle shadow-lg mw-100" 
                    src="{{ $profileImg.RelPermalink }}" 
                    alt="Steven Schaefer"
                >
            </div>
        </div>
    </section>
    <section class="section-1">
        <div class="container-xxl">
            <h2 class="my-3">My portfolio</h2>
            <div class="row flex-nowrap overflow-auto">
                {{ range where .Site.RegularPages "Section" "projects" }}
                    {{ partial "card-1.html" . }}
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
