{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section class="section-1" id="home-hero">
        <div class="section-1-cont">
            {{ partial "home-hero" . }}
        </div>
    </section>
    <section class="section-1">
        <div class="section-1-cont flex-row-reverse">
            {{ partial "who-am-i" . }}
        </div>
    </section>
    <section class="section-1">
        <div class="container-xxl p-3 d-flex flex-column flex-md-row">
            {{ partial "reviews" . }}
        </div>
    </section>
    <section class="section-1">
        <div class="container-xxl">
            {{ partial "portfolio" . }}
        </div>
    </section>
{{ end }}
