{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section class="section-1" id="home-hero">
        <div class="section-1-cont">
            <div class="d-flex flex-column justify-content-center col-md-7">
                <h1 class="text-md-end text-center display-4">Make <span class="text-emphasis-1">your business</span> stand out online.</h1>
                {{ $img := resources.GetMatch "images/cn-mockup.webp" }}
                {{ $img := $img.Fit "800x800" }}
                <img class="my-3 mb-md-0" src="{{ $img.RelPermalink }}" alt="A phone, tablet, and laptop displaying a website">
            </div>
            <div class="d-flex flex-column justify-content-center align-items-center align-items-md-start">
                <p class="lead m-4 fs-lg-4 mt-0">Your business's website is crucial - don't let it get lost in the noise! I will work with your business to create a custom solution that makes you <span class="text-emphasis-1">stand out</span>. Attract more customers, expand your online presence, and unlock your potential with a unique design tailored for your business's needs.</p>
                <a href="mailto:steven@ssweb.services?subject=Requesting%20free%20consultation" class="btn btn-primary my-2 ms-md-4 mb-4 mb-md-0 fw-bold"><i class="bi bi-envelope-fill"></i> Request your free consultation</a>
            </div>
        </div>
    </section>
    <section class="section-1">
        <div class="section-1-cont">
            <div class="d-flex flex-column justify-content-center col-md-8 p-3">
                <h2 class="">Who am I?</h2>
                <p class="fs-md-4 text-body-secondary">My name is Steven Schaefer. I am a web developer. I like to bring a creative spin to every project I work on. I have a passion for technology and try to make the world a better place with it.</p>
            </div>
            <div class="p-3 d-flex justify-content-center">
                {{ $profileImg := resources.GetMatch "images/linkedin-01.webp" }}
                {{ $profileImg := $profileImg.Fit "400x400" }}
                <img class="rounded-circle shadow-lg mw-100" 
                    src="{{ $profileImg.RelPermalink }}" 
                    alt="Steven Schaefer"
                >
            </div>
        </div>
    </section>
    <section class="section-1">
        <div class="container-xxl">
            <div class="d-flex justify-content-between pb-md-2">
                <i class="bi bi-arrow-left-circle-fill left-paddle paddle"></i>
                <h2 class="my-3">My portfolio</h2>
                <i class="bi bi-arrow-right-circle-fill right-paddle paddle"></i>
            </div>
            <div class="d-flex flex-nowrap overflow-auto menu">
                {{ range where .Site.RegularPages "Section" "portfolio" }}
                    {{ partial "card-1.html" . }}
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
